{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "plugins": ["react", "import", "jsx-a11y", "jest"],
  "globals": {
    "localStorage": false,
    "document": false
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-wrap-multilines": 0,
    "react/no-array-index-key": 0,
    "prettier/prettier": "error",
    "global-require": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "linebreak-style": "off",
    "react/state-in-constructor": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "consistent-return": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ]
  }
}
